.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "nav nav nav nav" "leftsidebar main main rightsidebar " "leftsidebar main main rightsidebar ""footer footer footer footer";
    Grid-gap: 5px;
    text-align: center;
}

nav {
    background-color: #FE8514;
    grid-area: nav;
    text-align: center;
    padding-top: 60px;
}

main {
    background-color: #8bf10a;
    grid-area: main;
    border-radius: 10px;
    padding-top: 100px;
}

#leftsidebar {
    background-color: #7fc242;
    grid-area: leftsidebar;
    border-radius: 10px;
    padding-top: 100px;
}

#rightsidebar {
    background-color: #7FC242;
    grid-area: rightsidebar;
    border-radius: 10px;
    padding-top: 100px;
}

footer {
    background-color: #f57e20;
    grid-area: footer;
    text-align: center;
    padding-top: 60px;
}